# # MongoDB
MONGO_URI = 'mongodb+srv://usuario:contraseña@cluster0.j63mf.mongodb.net'
DATABASE = 'DoggiApp'
TEST_DATABASE = 'testdb'


 #Express
BACKPORT=8082
MODE='FORK'

# # JWT
JWT_SECRET = ''
SESSION_KEY = ''

GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
FACEBOOK_CLIENT_ID=tu_facebook_client_id
FACEBOOK_CLIENT_SECRET=tu_facebook_client_secret
