@import 'tailwindcss';

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-Medium.ttf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-LightItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-MediumItalic.ttf');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik/Rubik-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

:root {
  --primary: #FFDC64;
  --primary-light: #ffe89d;
  --primary-ultralight: #fdf9d4;
  --primary-dark: #E6C65A;
  --primary-ultradark: #C7A74A;
  --secondary: #A7D8B9;
  --secondary-light: #CCEBD6;
  --secondary-ultralight: #e1f2e6;
  --secondary-dark: #86B99A;
  --secondary-ultradark: #659377;
  --accent: #FFFFFB;
  --accent-dark: #f7f7ed;
  --accent-ultradark: #d7d7c7;
}

@layer base {
  body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--accent);
  }

  h1 {
    font-weight: medium;
  }

  h2 {
    font-weight: medium;
  }

  h3 {
    font-weight: medium;
  }

  p {
    font-weight: 100;
  }
}

.btn-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary-dark);
  box-shadow: inset 4px 4px 10px var(--primary-ultradark),
              inset -4px -4px 10px var(--primary-ultralight);
}

.btn-primary:hover,
.btn-primary:focus {
  box-shadow: inset 2px 2px 5px var(--primary-ultradark),
              inset -2px -2px 5px var(--primary-ultralight),
              2px 2px 5px var(--primary-ultradark),
              -2px -2px 5px var(--primary-ultralight);
  outline: none;
}

.btn-secondary {
  background-color: var(--secondary);
  border: 2px solid var(--secondary-dark);
  box-shadow: inset 4px 4px 10px var(--secondary-ultradark),
              inset -4px -4px 10px var(--secondary-ultralight);
}

.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: inset 2px 2px 5px var(--secondary-ultradark),
              inset -2px -2px 5px var(--secondary-ultralight),
              2px 2px 5px var(--secondary-ultradark),
              -2px -2px 5px var(--secondary-ultralight);
  outline: none;
}